{% extends 'layout.html' %}
{% block content %}
	
	<hr>
<h2>Contact Me</h2>
<form action="/contact" method="POST">
  <div class="form-group">
    <div class="col">
      <input type="text" class="form-control" name="cname" id="cname" placeholder="Name" required >
    </div>
    <br>
    <div class="col">
      <input type="email"  class="form-control"  name="cemail"  id="cemail"  placeholder="Email" required>

    </div>  
    <br>
    <div class="col">
      <input type="tel" class="form-control" name="cphone" id="cphone" placeholder="Contact Number" required>
    </div>
    <br>
    <div class="form-group">
    	<br>
    	<textarea class="form-control" id="cmsg" name="cmsg" rows="5" cols="50" ></textarea>
    </div>
    
    <div class="col">
      <input type="submit" class="btn btn-primary" value="Submit" >
    </div>
  </div>
</form>
</div>

<hr>

{% endblock content %}