{% extends 'layout.html' %}



{% block content %}

<hr>
<div class="conatiner jumbotron">
<h2>Create a Post</h2>
<form action="/post" method="POST">
  <div class="form-group">
    <div class="col">
      <input type="text" class="form-control" name="title" id="title" placeholder="Title" required >
    </div>
    <br>
    <div class="col">
      <input type="text"  class="form-control"  name="content"  id="content"  placeholder="Content" required>

    </div>  
    <br>
    <div class="col">
      <input type="text" class="form-control" name="author" id="author" placeholder="Author Name" required>
    </div>
    <br>
    
    <div class="col">
      <input type="submit" class="btn btn-primary" value="Submit" >
    </div>
  </div>
</form>
</div>

<hr>

{% for post in all_post %}


<div class="row mb-2 my-4">
  <div class="col-md-6">
    <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
      <div class="col p-4 d-flex flex-column position-static">
        <strong class="d-inline-block mb-2 text-primary">Flask</strong>
        <h3 class="mb-0">{{post.title}}</h3>
        <div class="mb-1 text-muted">{{post.author}}</div>
        <p class="card-text mb-auto">{{post.content}}</p>
        <div class="mb-1 text-muted">{{post.date}}</div>
        <a href="#" class="stretched-link">Continue reading</a>
      </div>
      <div class="col-auto d-none d-lg-block">
        <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg"
          preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
          <title>Placeholder</title>
          <rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef"
            dy=".3em">Thumbnail</text>
        </svg>
      </div>
    </div>
  </div>
</div>
</div>
}

{% endfor %}

{% endblock content %}