{% extends 'layout.html' %}



{% block content %}




  <div>
  
  <hr>
<h2 style="display:inline">Python Techies Posts</h2>
<a  style="display:inline" href="/post/newpost" class=" btn btn-success float-right mx-4 ">+New Post</a>
<hr>
</div>


{% for post in all_post %}


<div>
  
      
        
        <h3>{{post.title}}</h3>
        
        <p>{{post.content}}</p>
        <small> Writen by {{post.author}} on {{post.date}} </small>
        <br>
        <br>
        <a class="btn btn-danger" href="/delete/{{post.id}}"   >Delete</a>
        <a class="btn btn-primary my-2"  href="/edit/{{post.id}}" >Edit</a>
        <hr>
      
      </div>
      
      
     
    </div>
  </div>
</div>
</div>


{% endfor %}

{% endblock content %}